#container{
    position: absolute;
   top:50%;
   left: 50%;

   
}

#log{
    text-align: center;
    left: 14%;
    position: absolute;
    height: 100%;
    padding: 20%;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    height: 17%;
    text-align: center;
}
#pedding{
    height: 90%;
    display: flex;
}